body {
  background-color: lightblue; }
  body p {
    width: 500px;
    padding: 20px;
    font-family: arial;
    border: 1px solid white;
    color: white;
    margin-left: auto;
    margin-right: auto; }
